html,
body {
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}

@media screen and (min-width: 780px) {
    html {
        font-size: calc(6px + 10 * ((100vw - 780px) / 1920));
    }
}

@media screen and (max-width: 780px) {
    html {
        font-size: calc(6px + 10 * ((100vw - 1px) / 780));
    }
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: url(".././images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-animation: change-background 10s linear;
            animation: change-background 10s linear;
}

.crawl-intro-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-animation: show-crawl-intro-text 9s linear;
            animation: show-crawl-intro-text 9s linear;
}

.crawl-intro-text-container .crawl-intro-text {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    font-size: 4rem;
    color: #0b65f4;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.logo-container .logo {
    width: 100%;
    height: auto;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-animation: logo-scale-down 12s linear 10s;
            animation: logo-scale-down 12s linear 10s;
}

.crawl-container {
    position: relative;
    height: 100%;
    -webkit-transform: perspective(18.75rem) rotateX(35deg) translateY(200vh);
            transform: perspective(18.75rem) rotateX(35deg) translateY(200vh);
    top: 50%;
    width: 50%;
    margin: 0 auto;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    text-align: center;
    -webkit-animation: crawl-scroller 76s linear 5s;
            animation: crawl-scroller 76s linear 5s;
}

.crawl {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: justify;
    color: #ffba01;
    text-shadow: 0.5px 0.5px 0px rgba(255, 255, 255, 0.45), -0.5px -0.5px 0px rgba(255, 255, 255, 0.45);
    z-index: 2;
}

.crawl p {
    font-size: 3rem;
    display: block;
}

.crawl p:not(:last-of-type) {
    margin-bottom: 6rem;
}

.crawl p.title {
    margin-bottom: 2rem;
}

.crawl p.sub-title {
    font-size: 3.5rem;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 900;
}

.upper-case {
    text-transform: uppercase;
}

.first {
    -webkit-animation: fade-out 15s linear 34s forwards;
            animation: fade-out 15s linear 34s forwards;
}

.second {
    -webkit-animation: fade-out 15s linear 38s forwards;
            animation: fade-out 15s linear 38s forwards;
}

.third {
    -webkit-animation: fade-out 15s linear 42s forwards;
            animation: fade-out 15s linear 42s forwards;
}

.fourth {
    -webkit-animation: fade-out 15s linear 46s forwards;
            animation: fade-out 15s linear 46s forwards;
}

.fifth {
    -webkit-animation: fade-out 15s linear 50s forwards;
            animation: fade-out 15s linear 50s forwards;
}


@media screen and (max-width: 780px) {
    .crawl-container {
        -webkit-transform: perspective(18.75rem) rotateX(35deg) translateY(250vh);
                transform: perspective(18.75rem) rotateX(35deg) translateY(250vh);
    }

    .first {
        -webkit-animation-delay: 36s;
                animation-delay: 36s;
    }

    .second {
        -webkit-animation-delay: 42s;
                animation-delay: 42s;
    }

    .third {
        -webkit-animation-delay: 48s;
                animation-delay: 48s;
    }

    .fourth {
        -webkit-animation-delay: 54s;
                animation-delay: 54s;
    }

    .fifth {
        -webkit-animation-delay: 60s;
                animation-delay: 60s;
    }

    .crawl-container {
        -webkit-animation-delay: 20s;
                animation-delay: 20s;
    }
}


@-webkit-keyframes change-background {
    0% {
        background: rgba(0, 0, 0, 1);
    }

    100% {
        background: rgba(0, 0, 0, 1);
    }
}


@keyframes change-background {
    0% {
        background: rgba(0, 0, 0, 1);
    }

    100% {
        background: rgba(0, 0, 0, 1);
    }
}

@-webkit-keyframes show-crawl-intro-text {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    25% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    75% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes show-crawl-intro-text {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    25% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    75% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes logo-scale-down {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(2.2);
                transform: scale(2.2);
    }

    60% {
        opacity: 1;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.2;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}

@keyframes logo-scale-down {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(2.2);
                transform: scale(2.2);
    }

    60% {
        opacity: 1;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.2;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}

@-webkit-keyframes crawl-scroller {
    0% {
        top: -50%;
        -webkit-transform: perspective(300px) rotateX(35deg) translateY(200vh);
                transform: perspective(300px) rotateX(35deg) translateY(200vh);
        opacity: 1;
        visibility: visible;
    }

    98% {
        opacity: 1;
        visibility: visible;
    }

    99% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        top: -50%;
        -webkit-transform: perspective(300px) rotateX(35deg) translateY(-200vh);
                transform: perspective(300px) rotateX(35deg) translateY(-200vh);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes crawl-scroller {
    0% {
        top: -50%;
        -webkit-transform: perspective(300px) rotateX(35deg) translateY(200vh);
                transform: perspective(300px) rotateX(35deg) translateY(200vh);
        opacity: 1;
        visibility: visible;
    }

    98% {
        opacity: 1;
        visibility: visible;
    }

    99% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        top: -50%;
        -webkit-transform: perspective(300px) rotateX(35deg) translateY(-200vh);
                transform: perspective(300px) rotateX(35deg) translateY(-200vh);
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 0;
    }
}
